body {
    min-width: 300px;
     background-color: #FBF7EE;
}
*{
   
    box-sizing: border-box;
}

ul{
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0%;
}
li{
    margin-left: 20px;
    list-style: none;
  
}
a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
button
{   min-width: 30px;
      font-size: 14px;
     font-weight: 400;
    color: aliceblue;
    background-color: #0B48A8;
    border-radius: 5px ;
    border: #0B48A8;
    box-shadow: black;
    padding: 5px;
}
button:hover
{
    background-color: #2a5cac;
}
.navbar
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.End{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.part2{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    
}
.carts{
    width: 18%;
    background-color: #fff;
    border: 3px solid wheat ;
    margin: 2px;
     padding: 20px;
    border-radius: 5px;
}
.carts>h2{
    margin: 0;
    padding: 0;
}
@media (max-width: 900px) {

    .part2{ 
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,350px));
        gap: 50px;
    }
    .carts{
        width: 90%;
         margin: 2px;
       padding: 20px;
        border-radius: 5px;
    }
    
}
@media only screen and (max-width: 570px){
    .navbar {
        display:block;
        text-align:center;
    }
}
@media only screen and (max-width: 360px){
    .navbar {
        display:block;
        text-align:center;
    }
}


    
