@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #FBF7EE; 
}
.container{
    display: grid;
    place-items: center;
    width: 1fr;
    border: 1rem solid rgba(238, 230, 230, 0);

}

h1 {
    color: #19396f;
    font-size: 45px;
}
.loginWithFb{
    color: #FBF7EE;
    border-radius: 12px;
    align-items: center;
    display:flex;
    background-color: #3b5998;
    padding-left: 25px;
    padding-right: 30px;
    margin-bottom: 15px;
    height: 40px;
    font-size: 13px;
    flex-wrap: nowrap;
}
.loginWithGgle{
    color: #FBF7EE;
    flex-wrap: nowrap;
    border-radius: 12px;
    align-items: center;
    display:flex;
    background-color: #f21717;
    padding-left: 20px;
    padding-right: 35px;
    margin-bottom: 15px;
    height: 40px;
    font-size: 14px;
}
#ggle{
    width: 36px;
    height: 30px;
    margin-right: 2rem;

}
h3{
    margin-right: 3rem;
}
#fb{
    margin-right: 2rem;
    width: 30px;
    height: 30px;
}
form{
    display: grid;
    grid-template-columns: 1fr;
}
input{
    margin-top: 15px;
}
#username,#password{
    padding-left: 15px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgba(220, 203, 203, 0.788);
    width: 308px;
}
#btn{
    margin-top: 8%;
    padding-left: 15px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgba(218, 198, 198, 0.736);
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #b4b2b2;
    color: aliceblue;
}

#btn:hover
{
    background-color: #c5c4c4;
}

a{
   text-decoration: none;
   text-align: center;
}

span a
{
     color: rgb(0, 95, 177);
}
span 
{
    margin-top: 2%;
    text-align: center;
}
span a:hover{
    color: rgb(0, 136, 255);
}




